{% extends "layout.html.twig" %}

{% block content %}
    <div class="wrapper--main-inner">
        <h1>Ready?</h1>
{#        {{ pimcore_areablock(#}
{#            name|default('defaultAreablock'),#}
{#            areablockConfig(#}
{#                areablockName|default('root'),#}
{#                editmodeCssClass|default('')#}
{#            )#}
{#        ) }}#}
    </div>
{% endblock %}