
.editMode {
  header {
    position: relative;
    background-color: rgba(0, 0, 0, .1);
    pointer-events: none;
  }

  .editObjectLink {
    border-color: #000;
    background-color: #3c3f41;
    z-index: 999;
  }

  .pimcore_editable {
    min-width: 25rem;
    margin: 0.25rem .75rem;
  }

  .pimcore_editable_image {
    min-width: 50%;
    width: 100%;
    min-height: 36rem;
    z-index: 2;
  }

  .img-wrapper {
    z-index: unset !important;

    .pimcore_editable_image {
      margin-left: auto;
    }
  }
}